@page
@model IndexModel
@{
    ViewData["Title"] = "Usuarios";
}

@section styles{
    <!-- Datatables -->
    <link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    }

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">

            <h2>@ViewBag.Title </h2>
            <ul class="nav navbar-right panel_toolbox">
            </ul>
            <div class="clearfix"></div>

        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <p>
                            @*@Html.ActionLink("Crear Artículo", "Create", null, new { @class = "btn btn-success" })*@
                            <a href="UsuarioGestiona?codigo=1_0"><button type="button" class="btn btn-success">Adicionar</button></a>
                        </p>
                        @*<p class="text-muted font-13 m-b-30">
                        The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                        </p>*@
                        <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">
                                        Nombre
                                    </th>
                                    <th style="text-align:center;">
                                        Fecha Nacimiento
                                    </th>
                                    <th style="text-align:center;">
                                        Sexo
                                    </th>
                                    <th style="text-align:center;">
                                        Acción
                                    </th>
                                </tr>

                            </thead>

                            <tbody>
                                @foreach (var item in Model.Usuario)
                                {
                                    <tr>
                                        <td>
                                            @item.UsuNom
                                        </td>
                                        <td>
                                            @item.UsuFecNac
                                        </td>
                                        <td>
                                            @item.UsuSex
                                        </td>
                                        <td width="250px" align="center">
                                            <a href="UsuarioGestiona?codigo=2_@item.Id"><button type="button" class="btn btn-primary">Modificar</button></a>
                                        
                                            <a href="UsuarioGestiona?codigo=3_@item.Id"><button type="button" class="btn btn-danger">Eliminar</button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <!-- Datatables -->
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendors/pdfmake/build/vfs_fonts.js"></script>
    }

